@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 >Welcome to simple user registration web app</h4>
    <p>
        You can register new user to temporary storage list. User registration form implemented with model data validation.
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
